
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">LAB<font color="red">49</font></h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><%= link_to 'Projects', projects_path %></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">YUDH</h1>
            <p class="lead">Driving developer competitveness using Pi.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> a <a href="http://getbootstrap.com">PITY</a> initiative, by <a href="https://twitter.com/mdo">LAB49</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
